<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        @layer utilities {
            .bg-sun {
                background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
            }
            .bg-moon {
                background: #37393f;
                box-shadow: 
                    inset -3px -2px 2px -2px #8983f7,
                    inset -7px -3px 0 0 #a3dafb;
            }
            .bg-instagram {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }
            .bg-instagram-md {
                background: #1e293b;
            }
        }
    </style>
    <title>
        <%= title %>
    </title>
</head>

<body class="dark:bg-slate-900 transisition-all duration-300">
    <%- include('nav') %>
        <div class="container mx-auto px-5">
            <%- body %>
        </div>

        <hr class="dark:hidden">
        <div class="py-12 dark:bg-slate-800 pb-10 shadow-inner px-8">


            <div class="md:max-w-7xl lg:px-6 mx-auto md:flex justify-between">
                <div class="md:max-w-[365px]">
                    <p class="flex justify-center items-center text-md">
                        <span
                            class="inline-flex items-center font-medium text-lg text-slate-800 dark:text-white text-semibold lg:text-2xl">
                            Progress
                        </span>
                        <span class="mx-2 text-slate-600 dark:text-slate-400">by</span>
                        <a href="#"
                            class="text-sm font-regular rounded-md bg-blue-600 hover:bg-blue-700 px-1.5 py-1"
                            target=_blank>
                            <span class="">Progress Group</span>
                        </a>
                    </p>
                    <p class="my-4 text-slate-600 dark:text-slate-300/60 text-center md:text-left">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus eligendi quisquam sequi ab,
                        omnis maiores sed similique odio nemo hic aut alias eaque vero veritatis expedita earum
                        laudantium facere unde.
                    </p>
                </div>
                <div class="text-slate-600 dark:text-slate-400 mt-6 md:mt-0 grid justify-items-center">
                    <h2 class="dark:text-white font-semibold mb-5 md:mb-2 text-xl text-slate-800">Follow Us</h2>
                    <ul class="md:text-right grid grid-cols-4 gap-5 md:grid-cols-1 md:gap-1">
                        <li>
                            <a href="#" class="group">
                                <span
                                    class="dark:group-hover:text-slate-200 group-hover:text-slate-800 hidden md:inline text-sm font-semibold">GitHub
                                </span>
                                <img src="img/github.png" alt=""
                                    class="dark:hidden md:w-6 w-7 inline-block mb-1 group-hover:-translate-y-1.5 md:group-hover:translate-y-0 transisition duration-300">
                                <div
                                    class="hidden dark:inline inline-block px-2.5 py-2.5 md:px-0 md:py-0 md:bg-slate-800 rounded-full bg-slate-600 md:hover:bg-slate-800 hover:bg-black">
                                    <img src="img/github-white.png" alt="" class="w-5 mb-1 inline-block">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <span
                                    class="dark:group-hover:text-slate-200 group-hover:text-slate-800 hidden md:inline text-sm font-semibold">Instagram
                                </span>
                                <img src="img/instagram.png" alt=""
                                    class="dark:hidden md:w-6 w-7 inline-block mb-1 group-hover:-translate-y-1.5 md:group-hover:translate-y-0 transisition duration-300">
                                <div
                                    class="hidden dark:inline inline-block px-2.5 py-2.5 md:px-0 md:py-0 md:bg-slate-800 rounded-full bg-slate-600 md:hover:bg-instagram-md hover:bg-instagram">
                                    <img src="img/instagram-white.png" alt="" class="w-5 mb-1 inline-block">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <span
                                    class="dark:group-hover:text-slate-200 group-hover:text-slate-800 hidden md:inline text-sm font-semibold">WhatsApp
                                </span>
                                <img src="img/whatsapp.png" alt=""
                                    class="dark:hidden md:w-6 w-7 inline-block mb-1 group-hover:-translate-y-1.5 md:group-hover:translate-y-0 transisition duration-300">
                                <div
                                    class="hidden dark:inline inline-block px-2.5 py-2.5 md:px-0 md:py-0 md:bg-slate-800 rounded-full bg-slate-600 md:hover:bg-slate-800 hover:bg-[#25d366]">
                                    <img src="img/whatsapp-white.png" alt="" class="w-5 mb-1 inline-block">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="group">
                                <span
                                    class="dark:group-hover:text-slate-200 group-hover:text-slate-800 hidden md:inline text-sm font-semibold">Facebook
                                </span>
                                <img src="img/facebook.png" alt=""
                                    class="dark:hidden md:w-6 w-7 inline-block mb-1 group-hover:-translate-y-1.5 md:group-hover:translate-y-0 transisition duration-300">
                                <div
                                    class="hidden dark:inline inline-block px-2.5 py-2.5 md:px-0 md:py-0 md:bg-slate-800 rounded-full bg-slate-600 md:hover:bg-slate-800 hover:bg-[#3b5998]">
                                    <img src="img/facebook-white.png" alt="" class="w-5 mb-1 inline-block">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</body>
<script>
    const checkbox = document.querySelector('#toggle')
    const html = document.querySelector('html')
    const bola = document.querySelector('.bola')

    checkbox.addEventListener('click', function () {
        checkbox.checked ? html.classList.add('dark') : html.classList.remove('dark')
        checkbox.checked ? bola.classList.add('translate-x-2') : bola.classList.remove('translate-x-2')
    })

    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector("#mobile-menu-2");
    const open = document.querySelector(".open-nav")
    const close = document.querySelector(".close-nav")

    btn.addEventListener("click", () => {
        menu.classList.toggle("h-64");
        open.classList.toggle("hidden");
        close.classList.toggle("hidden");
    });
</script>

</html>