<div class="dark:border-b-[#1e293c] border-b py-4 relative ">

    <h1
        class="mb-4 mt-16 text-center text-4xl font-extrabold leading-none tracking-tight text-slate-800 md:text-5xl lg:text-6xl dark:text-slate-200">
        We invest in the world’s potential</h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-slate-400">Here at
        Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive
        economic growth.</p>

</div>

<div class="dark:border-b-[#1e293c] border-b py-4 relative sm:py-14 sm:text-center">
    <h2
        class="mb-8 text-3xl font-bold tracking-tight text-slate-800 md:text-3xl dark:text-slate-200">
        Roadmaps</h2>
    <div class="container mt-2">
        <ul class="gap-2 grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 max-w-6xl mx-auto">
            <li>
                <a href="https://roadmap.sh/frontend"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">Frontend</span>
                </a>
            </li>
            <li>
                <a href="https://roadmap.sh/backend"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">Backend</span>
                </a>
            </li>
            <li>
                <a href="https://roadmap.sh/devops"
                class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">DevOps</span>
            </a>
        </li>
        <li>
            <a href="https://roadmap.sh/android"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">Android</span>
                </a>
            </li>
            <li>
                <a href="https://roadmap.sh/backend"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">Machine Learning</span>
                </a>
            </li>
            <li>
                <a href="https://roadmap.sh/cyber-security"
                class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">Cyber Security</span>
            </a>
        </li>
    </ul>
</div>
</div>

<div class="py-4 relative sm:py-14 sm:text-center">
    <h2 class="mb-8 text-3xl font-bold tracking-tight text-slate-800 md:text-3xl dark:text-slate-200">
        Belajar Bahasa</h2>
    <div class="container mt-2">
        <ul class="gap-2 grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 max-w-6xl mx-auto">
            <li>
                <a href="/cpp"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">C++</span>
                </a>
            </li>
            <li>
                <a href="/java"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">Java</span>
                </a>
            </li>
            <li>
                <a href="/javascript"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">JavaScript</span>
                </a>
            </li>
            <li>
                <a href="/php"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">PHP</span>
                </a>
            </li>
            <li>
                <a href="/python"
                    class="block text-md group no-underline bg-slate-900 dark:bg-slate-200 border border-slate-800 hover:border-slate-400 hover:bg-white hover:scale-95 dark:hover:bg-slate-800 font-regular p-2.5 relative rounded-lg sm:p-3.5 transisition-all duration-300">
                    <span class="text-slate-400 dark:text-slate-800 font-semibold tracking-wide group-hover:text-slate-800 dark:group-hover:text-slate-200">Python</span>
                </a>
            </li>
        </ul>
    </div>
</div>